<Paragraph Margin="Margin.Is0.OnAll" Weight="TextWeight.Bold">
    <i class="@Value.ProviderDetail.IconClass float-left mr-2"></i>
    <Heading Size="HeadingSize.Is6" Float="Float.Left" Margin="Margin.Is0.OnAll" Padding="Padding.Is0.OnAll">@Value.Name</Heading>
    @if (ShowRiskScore)
    {
        <RiskScorePillComponent Float="Float.Right" Value="@Value.RiskScore" />
    }
    <div class="clearfix"></div>
</Paragraph>

@using AuthJanitor.Automation.AdminUi.Components.Risks
@using AuthJanitor.Automation.Shared.ViewModels
@using Blazorise

@code {
    [Parameter]
    public ResourceViewModel Value { get; set; }

    [Parameter]
    public EventCallback<ResourceViewModel> ValueChanged { get; set; }

    [Parameter]
    public bool ShowRiskScore { get; set; } = true;
}