<ListGroup>
    @foreach (var setting in Configuration)
    {
        <ListGroupItem Padding="Padding.Is1.OnY">
            <Row Class="align-items-center">
                <Column Margin="Margin.Is2.FromRight">
                    <Heading Size="HeadingSize.Is6" Margin="Margin.Is0.FromBottom">
                        <strong>@setting.DisplayName</strong>
                    </Heading>
                    <span class="text-xs">@setting.Value</span>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    @if (!string.IsNullOrEmpty(setting.HelpText))
                    {
                        <span title="@setting.HelpText">
                            <Icon Name="FontAwesomeIcons.QuestionCircle" Margin="Margin.Is0.OnAll" />
                        </span>
                    }
                </Column>
            </Row>
        </ListGroupItem>
    }
</ListGroup>

@using Blazorise
@code {
    [Parameter]
    public IEnumerable<ProviderConfigurationItemViewModel> Configuration { get; set; }
}