<ListGroup>
    @if (!Risks.Any())
    {
        <Heading Size="HeadingSize.Is6" TextColor="TextColor.Success" Margin="Margin.Is0.OnAll" Class="font-weight-bold">
            No Risks Identified! 👍
        </Heading>
    }
    @foreach (var risk in Risks)
    {
        <ListGroupItem Padding="Padding.Is1.OnY">
            <Row>
                <Column Margin="Margin.Is2.FromRight">
                    <Heading Size="HeadingSize.Is6" Margin="Margin.Is0.FromBottom">
                        <strong>@risk.Risk</strong>
                    </Heading>
                    <span class="text-xs">@risk.Recommendation</span>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Badge Float="Float.Right" IsPill="true" Color="Color.Primary">
                        @risk.Score
                    </Badge>
                </Column>
            </Row>
        </ListGroupItem>
    }
</ListGroup>

@using Blazorise
@code {
    [Parameter]
    public IEnumerable<AuthJanitor.Providers.RiskyConfigurationItem> Risks { get; set; }
}