@layout RootLayout
@inherits LayoutComponentBase

<Sidebar Padding="Blazorise.Padding.Is2.OnAll">
    <SidebarContent>
        <SidebarBrand>
            <img src="style/logo.png" alt="AuthJanitor Logo" style="width:100%;" />
        </SidebarBrand>
        <SidebarNavigation Margin="Blazorise.Margin.Is3.FromTop">
            <SidebarItem>
                <SidebarLink Padding="Blazorise.Padding.Is2.OnX.Is3.OnY"  To="/aj">
                    <Icon Name="FontAwesomeIcons.TachometerAlt" Class="text-info" /> Dashboard
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Padding="Blazorise.Padding.Is2.OnX.Is3.OnY" To="/aj/managedSecrets">
                    <Icon Name="FontAwesomeIcons.Key" Class="text-info" /> Managed Secrets
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Padding="Blazorise.Padding.Is2.OnX.Is3.OnY" To="/aj/rekeyingTasks">
                    <Icon Name="FontAwesomeIcons.Tasks" Class="text-info" /> Rekeying Tasks
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Padding="Blazorise.Padding.Is2.OnX.Is3.OnY" To="/aj/resources">
                    <Icon Name="FontAwesomeIcons.Sitemap" Class="text-info" /> Resources
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <div class="app-content">
        @Body
    </div>
    @*<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>*@
</div>

@using Blazorise.Icons.FontAwesome
@using Blazorise.Sidebar

@code {
    void OnThemeColorChanged(string value)
    {
        // TODO: Theming
        if (Theme?.ColorOptions != null)
            Theme.ColorOptions.Primary = value;

        if (Theme?.BackgroundOptions != null)
            Theme.BackgroundOptions.Primary = value;

        Theme.ThemeHasChanged();
    }

    [CascadingParameter] Blazorise.Theme Theme { get; set; }
}