@inherits LayoutComponentBase

<div class="app-main">
    <Bar Class="app-bar" ThemeContrast="ThemeContrast.Dark" Background="Background.Dark">
        <BarBrand>
            <img style="height: 5vh" src="css/logo.png" alt="AuthJanitor Logo" />
        </BarBrand>
        <BarToggler Float="Float.Right">
        </BarToggler>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="/aj/dashboard">
                        <Icon Name="FontAwesomeIcons.TachometerAlt" Margin="Margin.Is1.FromRight" />
                        Dashboard
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/aj/providers">
                        <Icon Name="FontAwesomeIcons.Plug" Margin="Margin.Is1.FromRight" />
                        Providers
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/aj/resources">
                        <Icon Name="FontAwesomeIcons.Database" Margin="Margin.Is1.FromRight" />
                        Resources
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/aj/managedSecrets">
                        <Icon Name="FontAwesomeIcons.Key" Margin="Margin.Is1.FromRight" />
                        Managed Secrets
                    </BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/aj/rekeyingTasks">
                        <Icon Name="FontAwesomeIcons.Tasks" Margin="Margin.Is1.FromRight" />
                        Rekeying Tasks
                    </BarLink>
                </BarItem>
            </BarStart>
            <BarEnd Padding="Padding.Is2.FromTop" Margin="Margin.Is2.FromTop" Class="border-top">
                <BarItem>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is1" Class="text-danger text-nowrap" title="Expired">
                            <Icon Class="fa-2x" Name="FontAwesomeIcons.ExclamationTriangle" Padding="Padding.Is1.FromTop" Margin="Margin.Is1.FromRight" Float="Float.Left" />
                            <Paragraph Class="h2" Margin="Margin.Is0" Padding="Padding.Is0" Style="font-size:2em;">
                                1
                            </Paragraph>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is1" Class="text-warning text-nowrap" title="Expiring Soon">
                            <Icon Class="fa-2x" Name="FontAwesomeIcons.ExclamationTriangle" Padding="Padding.Is1.FromTop" Margin="Margin.Is1.FromRight" Float="Float.Left" />
                            <Paragraph Class="h2" Margin="Margin.Is0" Padding="Padding.Is0" Style="font-size:2em;">
                                6
                            </Paragraph>
                        </Column>
                        <Column></Column>
                        <Column ColumnSize="ColumnSize.IsAuto">
                            <div style="padding: 6px 3px 4px 7px; border: 2px solid #656565; border-radius: 5px;">
                                <a class="text-light text-decoration-none" href="https://github.com/anthturner/AuthJanitor/wiki" target="_blank" title="Documentation">
                                    <Icon Class="fa-2x" Name="FontAwesomeIcons.BookOpen" />
                                </a>
                                <a class="text-light text-decoration-none" href="https://github.com/anthturner/AuthJanitor" target="_blank" title="GitHub Repository">
                                    <Icon Class="fa-2x" Name="FontAwesomeIcons.Github" />
                                </a>
                            </div>
                        </Column>
                    </Row>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
    <div class="app-content">
        @Body
    </div>
</div>